.flex{
    display: flex;
}
.flex-1{
    flex: 1;
}
.ai-c{
    align-items: center;
}
.jc-c{
    justify-content: center;
}
.flex-c-c{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-w-w{
    flex-wrap: wrap;
}
.jc-sb{
    justify-content: space-between;
}
.flex-d-c{
    flex-direction: column;
}
